.api-banner-container {
  width: 83%;
  max-width: 1800px;
  margin: 50px auto 20px auto;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(110, 109, 109, 0.2);
}
.api-banner-content {
  background: linear-gradient(90deg, #a8cbe1 0%, #daedd7 100%);
  border-radius: 25px;
  padding: 40px 60px;
  color: #333;
  text-align: left;
  min-height: 350px;
}

.col-12.col-md-5 {
  text-align: right;
  padding-right: 40px;
}

.api-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0;
}

.api-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 8px;
}

.api-title h4 {
  font-size: 36px;
  font-weight: 700;
  color: var(--main-text-color);
  margin: 0;
}

.api-badge-custom1 {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.api-description {
  margin-bottom: 16px;
  opacity: 0.85;
  color: var(--main-text-color);
}

.api-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 25px;
}

.api-badge-custom2 {
  border: 1px solid var(--light-ash-color);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.api-details-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 42px;
}

.api-details-btn a {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
  padding: 12px 36px;
  text-decoration: none;
  border-radius: 25px;
  font-size: 14px;
}

.api-details-btn .api-banner-secondary-btn {
  background-color: var(--main-bg-color);
  color: var(--primary-color);
  padding: 12px 36px;
  text-decoration: none;
  border-radius: 25px;
  font-size: 14px;
}

.api-details-btn a:hover {
  background-color: var(--primary-color);
}
