<main>
    {{> ecihero }}
    {{> features }}
    {{> stats }}
    {{> benefits }}
    {{> customers }}
    {{> ecifeature}}
    {{> testimonials }}
    {{> documentation-banner }}
    {{> community}}
</main>