<section class="company-section">
  <div class="company-header">
    <h2>A wide range of options</h2>
    <p>
      The willingness to turn challenges into opportunities has allowed us to
      develop various areas of activity and create a set of distinctive features
      that share the values ​​of the El Corte Inglés brand.
    </p>
  </div>

  <div class="logo-groups">
    <div class="logo-group">
      <h3>Our companies</h3>
      <div class="logo-row">
        <img
          class="logo"
          src="https://www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/el-corte-ingles.png"
          alt="El Corte Ingles"
        />
        <div class="vertical-line"></div>
        <img
          class="logo"
          src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/supercor.png"
          alt="SuperCor"
        />
        <div class="vertical-line"></div>
        <img
          class="logo"
          src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/grupo-viajes-el-corte-ingles-v3.png"
          alt="Viajes"
        />
        <div class="vertical-line"></div>
        <img
          class="logo"
          src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/sicor.png"
          alt="Grupo Sicor"
        />
      </div>
    </div>

    <div class="logo-group">
      <h3>Some of our insignia</h3>
      <div class="logo-row">
        <img
          class="logo"
          src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/realestate.png"
          alt="Real Estate"
        />
        <div class="vertical-line"></div>
        <img
          class="logo"
          src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/eci-energia.png"
          alt="Energía"
        />
        <div class="vertical-line"></div>
        <img
          class="logo"
          src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/hipercor.png"
          alt="Hipercor"
        />
        <div class="vertical-line"></div>
        <img
          class="logo"
          src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/outlet-el-corte-ingles.png"
          alt="Outlet"
        />
      </div>
    </div>
  </div>

  <div class="button-container">
    <a
      href="https://www.elcorteingles.es/informacioncorporativa/en/about-us/business-lines/"
      class="customer-explore-btn"
    >
      Know the standards of the Group
    </a>
  </div>
</section>