.company-section {
  padding: 50px 0;
  text-align: center;
}

.company-header h2 {
  font-size: 30px;
  margin-bottom: 16px;
  font-weight: 600;
  color: var(--main-text-color);
}
.company-header p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  color: var(--light-text-color);
}

.logo-groups {
  margin-top: 40px;
}

.logo-group {
  margin-bottom: 40px;
}

.logo-group h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: 600;
}

.logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  max-height: 80px;
  object-fit: contain;
}

.vertical-line {
  width: 2px;
  height: 80px;
  background-color: #ddd;
}

.button-container {
  margin-top: 40px;
}

.customer-explore-btn {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 25px;
  font-size: 14px;
}

.customer-explore-btn:hover {
  background-color: var(--primary-light-color);
}

@media (max-width: 768px) {
  .logo-row {
    flex-direction: column;
    gap: 20px;
  }

  .company-header h2 {
    font-size: 1.5rem;
  }

  .company-header p {
    font-size: 0.9rem;
  }

  .logo {
    max-height: 60px;
  }

  .vertical-line {
    display: none; 
  }
}
