<div class="banner-container">
  <section class="join-section">
    <h2>Join Now</h2>
    <p>Engage with DEPT. users and the product team on use cases and best
      practices. Our support team is here to address any questions, concerns, or
      feedback.</p>
    <form class="newsletter-form">
      <label for="email">Subscribe to our newsletter</label>
      <input type="email" id="email" placeholder="Email Address" />
    </form>
  </section>

  <section class="build-section">
    <h2>Ready to Build?</h2>
    <p>See the documentation to get started</p>
    <a href="#" class="btn-documentation">Documentation</a>
  </section>
</div>