<div class="ecifeatures">
  <div class="ecifeatures-container">
    <div class="ecifeature-item left-feature">
      <div class="eciicon-container">
        <img
          src="/images/product_icon.png"
          alt="Products Icon"
          class="ecifeature-img"
        />
      </div>
      <div class="ecifeature-content">
        <h2>Product feature</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          condimentum maximus nisl Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Phasellus condimentum maximus nisl.
        </p>
        <a href="#" class="ecilearn-more">Learn more &rarr;</a>
      </div>
    </div>
    <div class="ecifeature-image">
      <img
        src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/otros-negocios.jpg"
        alt="Store Image"
      />
    </div>
  </div>
  <div class="ecifeatures-container">
    <div class="ecifeature-image reverse">
      <img
        src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/otros-negocios.jpg"
        alt="Store Image"
      />
    </div>
    <div class="ecifeature-item right-feature reverse">
      <div class="eciicon-container">
        <img
          src="/images/product_icon.png"
          alt="Products Icon"
          class="ecifeature-img"
        />
      </div>
      <div class="ecifeature-content reverse">
        <h2>Product feature</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          condimentum maximus nisl Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Phasellus condimentum maximus nisl.
        </p>
        <a href="#" class="ecilearn-more">Learn more &rarr;</a>
      </div>
    </div>
  </div>
</div>