<div class="ecifeatures">
  <div class="ecifeatures-container">
    <div class="ecifeature-item left-feature">
      <div class="eciicon-container">
        <img
          src="https://devportal-content.s3.us-east-1.amazonaws.com/ABCOrganization/Frame 535 (4).svg"
          alt="Products Icon"
          class="ecifeature-img"
        />
      </div>
      <div class="ecifeature-content">
        <h2>Retail</h2>
        <p>
          Retail is the heart of the business, the core on which the foundations
          of a group of companies have been built that share the vocation of
          making people's lives easier and establishing a relationship of trust
          with customers and the environment.
        </p>
        <a href="#" class="ecilearn-more">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
    <div class="ecifeature-image">
      <img
        src="https://www.elcorteingles.es/centroscomerciales/uploads/slider/image/221/parque-burgos.jpg"
        alt="Store Image"
      />
    </div>
  </div>
  <div class="ecifeatures-container">
    <div class="ecifeature-image reverse">
      <img
        src="//www.elcorteingles.es/recursos/informacioncorporativa/img/portal/2023/06/15/otros-negocios.jpg"
        alt="Store Image"
      />
    </div>
    <div class="ecifeature-item right-feature reverse">
      <div class="eciicon-container">
        <img
          src="https://devportal-content.s3.us-east-1.amazonaws.com/ABCOrganization/Frame 535 (4).svg"
          alt="Products Icon"
          class="ecifeature-img"
        />
      </div>
      <div class="ecifeature-content reverse">
        <h2>Other businesses of the Group</h2>
        <p>
          Our desire to transform challenges into opportunities has allowed us
          to develop different areas of activity and create a group of companies
          that share the vocation of putting the customer at the centre and the
          values ​​associated with the El Corte Inglés brand.
        </p>
        <a href="#" class="ecilearn-more">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>