<div class="ecihero-container">
  <div class="ecihero-section">
    <div class="overlay">
      <div class="ecihero-content">
        <h1>Build robust scalable apps faster than ever before</h1>
        <p>APIs connect you to all major service providers, enabling seamless
          integration and real-time communication between different platforms
          and services.</p>
        <div class="button-group">
          <a href="#" class="eciprimary-button">Browse Our APIs</a>
          <a href="#" class="ecisecondary-button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>