<section>
  <div class="container feature-container">
    <div class="row">
      <div class="col-12">
        <div class="dev-sub-header">
          <h5>What we do</h5>
        </div>
        <div class="dev-header">
          <h2>Helps to solve all your account related problems</h2>
        </div>
      </div>
    </div>
    <div class="row feature-content">
      <div class="col-lg-3 col-md-6 col-sm-12 feature-card">
        <div>
          <img
            src="/images/product_icon.png"
            alt="Products Icon"
            class="feature-img"
          />
          <h5 class="feature-name">Products</h5>
          <p class="feature-description">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Phasellus condimentum maximus nisl.</p>
        </div>
        <a href="#" class="feature-link">Learn more
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 feature-card">
        <div>
          <img src="/images/api.svg" alt="API Icon" class="feature-img" />
          <h5 class="feature-name">APIs</h5>
          <p class="feature-description">Lorem ipsum dolor sit amet,
            consectetur. Phasellus condimentum maximus nisl ut malesuada.</p>
        </div>
        <a href="#" class="feature-link">Learn more
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 feature-card">
        <div>
          <img
            src="/images/analytics_icon.png"
            alt="Analytics Icon"
            class="feature-img"
          />
          <h5 class="feature-name">Analytics</h5>
          <p class="feature-description">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Phasellus condimentum maximus nisl ut malesuada.</p>
        </div>
        <a href="#" class="feature-link">Learn more
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 feature-card">
        <div>
          <img
            src="/images/reporting_icon.png"
            alt="Reporting Icon"
            class="feature-img"
          />
          <h5 class="feature-name">Reporting</h5>
          <p class="feature-description">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Phasellus condimentum maximus.</p>
        </div>
        <a href="#" class="feature-link">Learn more
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>