<section class="stats-container">
  <div class="stats-header">
    <h2>El Corte Inglés numbers</h2>
  </div>
  <div class="stats-content">
    <div class="stat-item">
      <h3>16.333 M€</h3>
      <p>TOTAL VOLUME OF RECEIPTS</p>
    </div>
    <div class="line"></div>
    <div class="stat-item">
      <h3>+1.600</h3>
      <p>OUTLET</p>
    </div>
    <div class="line"></div>
    <div class="stat-item">
      <h3>+960 M</h3>
      <p>VISIT OUR WEBSITES AND APPS</p>
    </div>
    <div class="line"></div>
    <div class="stat-item">
      <h3>11.8 M</h3>
      <p>EL CORTE INGLÉS PURCHASE CARD USERS</p>
    </div>
  </div>
</section>