<section class="stats-container">
  <div class="stats-header">
    <h2>El Corte Inglés in figures</h2>
  </div>
  <div class="stats-content">
    <div class="stat-item">
      <h3>16.333 M€</h3>
      <p>Global Income Volume</p>
    </div>
    <div class="line"></div>
    <div class="stat-item">
      <h3>+1.600</h3>
      <p>Commercial Establishments</p>
    </div>
    <div class="line"></div>
    <div class="stat-item">
      <h3>+960 M</h3>
      <p>Visits to Our Websites and App</p>
    </div>
    <div class="line"></div>
    <div class="stat-item">
      <h3>11.8 M</h3>
      <p>Users of the El Corte Inglés Purchase Card</p>
    </div>
  </div>
</section>