.testimonial-container {
  padding: 80px 0;
  text-align: center;
}

.testimonial-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}

.col-md-4 {
  flex: 1 0 23%;
  margin: 15px;
  max-width: 350px;
}

.testimonial-card {
  border: 1px solid var(--secondary-color);
  border-radius: 0 16px 16px 16px;
  padding: 20px;
  background-color: var(--light-bg-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.card-body {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h5 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--main-text-color);
}

.profile-info p {
  margin: 0;
  font-size: 12px;
  color: var(--secondary-color);
}

.card-text {
  font-size: 12px;
  color: var(--main-text-color);
  line-height: 1.6;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkedin-icon {
  margin-top: auto;
}

.linkedin-icon img {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  margin-left: 6px;
}

@media (max-width: 1200px) {
  .col-md-4 {
    flex: 1 0 30%;
  }
}

@media (max-width: 768px) {
  .col-md-4 {
    flex: 1 0 48%;
  }
}

@media (max-width: 576px) {
  .col-md-4 {
    flex: 1 0 100%;
  }
}
