<footer class="container-fluid footer">
  <div class="row footer-content">
    <div class="col-lg-3 footer-logo-section">
        <img
          src="https://devportal-content.s3.us-east-1.amazonaws.com/ABCOrganization/ECI%20logo.png"
          alt="Company Logo"
          class="footer-logo"
        />
      <p class="footer-description">
        Empowering developers with easy API solutions. Discover, test, and
        manage APIs effortlessly for better applications.
      </p>
      <div class="social-icons">
        <a href="#"><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a>
        <a href="#"><i
            class="bi bi-facebook"
            style="font-size: 1.5rem;"
          ></i></a>
        <a href="#"><i
            class="bi bi-instagram"
            style="font-size: 1.5rem;"
          ></i></a>
        <a href="#"><i
            class="bi bi-linkedin"
            style="font-size: 1.5rem;"
          ></i></a>
      </div>
    </div>
    <div class="col-lg-9 footer-links">
      <div class="row">
        <div class="col-lg-3">
          <p>Company</p>
          <a href="#">About us</a>
          <a href="#">Contact us</a>
          <a href="#">Press</a>
        </div>
        <div class="col-lg-3">
          <p>Resources</p>
          <a href="#">Documentation</a>
          <a href="#">Blog</a>
          <a href="#">Help Center</a>
          <a href="#">API Status</a>
        </div>
        <div class="col-lg-3">
          <p>Developer</p>
          <a href="#">How it Works</a>
          <a href="#">Setup</a>
          <a href="#">Product</a>
          <a href="#">Community Guide</a>
        </div>
        <div class="col-lg-3">
          <p>Legal</p>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="col-lg-6">
      <p>Copyright © ACME, 2024</p>
    </div>
    <div class="col-lg-6 text-end footer-terms">
      <a href="#">Terms of Service</a>
      |
      <a href="#">Privacy Policy</a>
      |
      <a href="#">Support</a>
    </div>
  </div>
</footer>